<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="UsuarioAccesoWinService" value="app_WinServiceCor"/>
    <add key="CodigoAccesoWinService" value="W1nSrv89sep"/>
    <add key="TiempoEsperaWinService" value="300000"/>
    <add key="CORREO_SOPORTE" value="ehernandez@itcr.ac.cr, vhernandez@itcr.ac.cr"/>
    <add key="CUENTA_SENTEMAIL" value="videoconferencia@itcr.ac.cr"/>
    <add key="PASS_SENTEMAIL" value="Oediv@2019"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiciosExpedienteDigital"/>
        <binding name="BasicHttpBinding_IExpedienteDigitalAPI"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tec-apps/WCFExpedienteDigital/Servicios/ServiciosExpedienteDigital.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiciosExpedienteDigital" contract="ServiciosExpedienteDigital.IServiciosExpedienteDigital" name="BasicHttpBinding_IServiciosExpedienteDigital"/>
      <endpoint address="http://tec-apps/WCFExpedienteDigital/Servicios/ExpedienteDigitalAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpedienteDigitalAPI" contract="ExpedienteDigitalAPI.IExpedienteDigitalAPI" name="BasicHttpBinding_IExpedienteDigitalAPI"/>
    </client>
  </system.serviceModel>
</configuration>
